.page {

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-primary-400);
    }

    p {
        color: var(--color-text-dark);
    }
    
    &__header {
        margin-bottom: var(--gap-content);
    }

    &__anchor {
        color: var(--color-accent-400);
    }

    &__title {
        margin: 0.5em 0;
        font-size: var(--font-size-5);
    }

    &__ingress {
        font-size: var(--font-size-2);
    }
}