@charset "UTF-8";
:root {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", serif;
  --font-size: 16px;
  --font-scale: 1.25;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --font-size-small: calc( var(--font-size-1) / 1.15);
  --color-opacity: 1;
  --line-height: 1.75;
  --color-text-dark-300: rgba(112 130 145/var(--color-opacity, 1));
  --color-text-dark: rgba(148 163 184/var(--color-opacity, 1));
  --color-text-dark-500: rgba(193 198 219/var(--color-opacity, 1));
  --color-gray: rgba(30 41 59 /1);
  --color-primary-100: #fff;
  --color-primary-200: #fff;
  --color-primary-300: #fff;
  --color-primary-400: #fff;
  --color-primary-500: #fff;
  --color-primary-600: #fff;
  --color-primary-700: #fff;
  --color-primary-800: #fff;
  --color-secondary-100: hsl(222, 47%, 5%);
  --color-secondary-200: hsl(222, 47%, 7%);
  --color-secondary-300: hsl(222, 47%, 9%);
  --color-secondary-400: rgba(15 23 42/var(--color-opacity, 1));
  --color-secondary-500: hsl(222, 47%, 15%);
  --color-secondary-600: hsl(222, 47%, 25%);
  --color-secondary-700: hsl(222, 47%, 40%);
  --color-secondary-800: hsl(222, 47%, 50%);
  --color-accent-100: hsl(198, 93%, 20%);
  --color-accent-200: hsl(198, 93%, 30%);
  --color-accent-300: hsl(198, 93%, 40%);
  --color-accent-400: rgba(56 189 248 / var(--color-opacity, 1));
  --color-accent-500: hsl(198, 93%, 70%);
  --color-accent-600: hsl(198, 93%, 80%);
  --color-accent-700: hsl(198, 93%, 90%);
  --color-accent-800: hsl(198, 93%, 95%);
  --border-radius: 5px;
  --padding-content: 2rem;
  --section-gap: 5rem;
  --section-gap-inner: 3rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-medium: 0.75rem;
  --gap-small: 0.5rem;
  --inner-width: 90rem;
  /* bbehövs ej nog --page-gutter: 32px; /*för att kunna ändra i grid container om man vill!*/
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}
@media screen and (max-width: 1024px) {
  :root {
    --grid-container: [full-start] minmax(16px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(16px, 1fr) [full-end];
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-text-dark-300: rgba(12 30 45/var(--color-opacity, 1));
    --color-text-dark: rgba(48 63 84/var(--color-opacity, 1));
    --color-text-dark-500: rgba(93 98 19/var(--color-opacity, 1));
    --color-gray: rgba(230 241 259 /1);
    --color-secondary-100: #fff;
    --color-secondary-200: #fff;
    --color-secondary-300: #fff;
    --color-secondary-400: #fff;
    --color-secondary-500: #fff;
    --color-secondary-600: #fff;
    --color-secondary-700: #fff;
    --color-secondary-800: #fff;
    --color-primary-100: hsl(222, 47%, 5%);
    --color-primary-200: hsl(222, 47%, 7%);
    --color-primary-300: hsl(222, 47%, 9%);
    --color-primary-400: rgba(15 23 42/var(--color-opacity, 1));
    --color-primary-500: hsl(222, 47%, 15%);
    --color-primary-600: hsl(222, 47%, 25%);
    --color-primary-700: hsl(222, 47%, 40%);
    --color-primary-800: hsl(222, 47%, 50%);
  }
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

body {
  background-color: var(--color-secondary-400);
}
body.menu-opened {
  height: 100vh;
  overflow: hidden;
}

body.theme-light {
  --color-text-dark-300: rgba(12 30 45/var(--color-opacity, 1));
  --color-text-dark: rgba(48 63 84/var(--color-opacity, 1));
  --color-text-dark-500: rgba(93 98 19/var(--color-opacity, 1));
  --color-gray: rgba(230 241 259 /1);
  --color-secondary-100: #fff;
  --color-secondary-200: #fff;
  --color-secondary-300: #fff;
  --color-secondary-400: #fff;
  --color-secondary-500: #fff;
  --color-secondary-600: #fff;
  --color-secondary-700: #fff;
  --color-secondary-800: #fff;
  --color-primary-100: hsl(222, 47%, 5%);
  --color-primary-200: hsl(222, 47%, 7%);
  --color-primary-300: hsl(222, 47%, 9%);
  --color-primary-400: rgba(15 23 42/var(--color-opacity, 1));
  --color-primary-500: hsl(222, 47%, 15%);
  --color-primary-600: hsl(222, 47%, 25%);
  --color-primary-700: hsl(222, 47%, 40%);
  --color-primary-800: hsl(222, 47%, 50%);
}

body.theme-dark {
  --color-text-dark-300: rgba(112 130 145/var(--color-opacity, 1));
  --color-text-dark: rgba(148 163 184/var(--color-opacity, 1));
  --color-text-dark-500: rgba(193 198 219/var(--color-opacity, 1));
  --color-gray: rgba(30 41 59 /1);
  --color-primary-100: #fff;
  --color-primary-200: #fff;
  --color-primary-300: #fff;
  --color-primary-400: #fff;
  --color-primary-500: #fff;
  --color-primary-600: #fff;
  --color-primary-700: #fff;
  --color-primary-800: #fff;
  --color-secondary-100: hsl(222, 47%, 5%);
  --color-secondary-200: hsl(222, 47%, 7%);
  --color-secondary-300: hsl(222, 47%, 9%);
  --color-secondary-400: rgba(15 23 42/var(--color-opacity, 1));
  --color-secondary-500: hsl(222, 47%, 15%);
  --color-secondary-600: hsl(222, 47%, 25%);
  --color-secondary-700: hsl(222, 47%, 40%);
  --color-secondary-800: hsl(222, 47%, 50%);
}

.overlay {
  --color-opacity: 0.7;
  --color-secondary-400: rgba(15 23 42/var(--color-opacity, 1));
  position: fixed;
  inset: 0;
  z-index: 998;
  display: none;
  backdrop-filter: blur(5px);
  background-color: var(--color-secondary-400);
}
.overlay--open {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

blockquote {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

textarea, input:not([type=submit], [type=checkbox], [type=radio]) {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-secondary-100);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-100);
  font-family: var(--font-sans);
  margin-bottom: var(--gap-large);
  font-size: var(--font-size-1);
  width: 100%;
}

input[type=submit] {
  background-color: var(--color-accent-400);
  color: var(--color-primary-400);
  padding: 1rem 2rem;
  font-family: var(--font-sans);
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.site-header {
  display: grid;
  grid-template-columns: var(--grid-container);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  backdrop-filter: blur(10px);
  transition: background-color 0.4s;
}
.site-header__inner {
  grid-column: inner;
}
.site-header--scroll {
  --color-opacity: 0.7;
  --color-secondary-400: rgba(15 23 42/var(--color-opacity, 1));
  background-color: var(--color-secondary-400);
}
.site-header__inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .site-header__inner {
    justify-content: space-between;
  }
}
.site-header__branding {
  color: var(--color-primary-400);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-2);
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}
.site-header__branding svg {
  width: 32px;
  stroke: var(--color-accent-400);
}
.site-header__toolbar {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
  margin-left: 3rem;
}
.site-header__search-button {
  display: none;
  background: none;
  border: 0;
}
.site-header__search-button svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
}
@media screen and (max-width: 1024px) {
  .site-header__search-button {
    display: block;
  }
}
.site-header .menu {
  margin-left: auto;
}
.site-header__responsive {
  grid-row: 2;
  grid-column: full;
  padding: 0 16px;
  height: 60px;
  display: none;
  align-items: center;
  gap: var(--gap-large);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 1024px) {
  .site-header {
    height: auto;
  }
  .site-header__inner {
    height: 60px;
  }
  .site-header__responsive {
    display: flex;
  }
}

.darkmode {
  position: relative;
}
.darkmode__button {
  background: none;
  border: 0;
}
.darkmode__button svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
}
.darkmode__button--active svg {
  stroke: var(--color-accent-400);
}
.darkmode__list {
  display: none;
  border-radius: var(--border-radius);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--color-gray);
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  position: absolute;
  width: 9rem;
  flex-direction: column;
  top: 60px;
  right: -50px;
}
.darkmode__list--visible {
  display: flex;
}
.darkmode__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.darkmode__item--active button {
  color: var(--color-accent-400);
}
.darkmode__item--active button svg {
  stroke: var(--color-accent-400);
}
.darkmode__theme {
  background: none;
  padding: 0.4rem 0.8rem;
  border: 0;
  color: var(--color-primary-400);
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  font-weight: 600;
  cursor: pointer;
}
.darkmode__theme svg {
  stroke: var(--color-text-dark);
  width: 1.25rem;
}
@media screen and (max-width: 1024px) {
  .darkmode {
    display: none;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.social__item {
  line-height: 1;
}
.social__link {
  line-height: 1;
}
.social__link svg {
  width: 1.25rem;
  fill: var(--color-text-dark);
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
}

.menu-button {
  display: none;
  background: none;
  border: 0;
}
.menu-button svg {
  height: 1.6rem;
  stroke: var(--color-text-dark);
}
@media screen and (max-width: 1024px) {
  .menu-button {
    display: block;
  }
}

.sidebar-button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}
.sidebar-button svg {
  width: 1.6rem;
  stroke: var(--color-text-dark);
}
.sidebar-button:hover svg {
  stroke: var(--color-primary-400);
}

.breadcrumb {
  font-size: var(--font-size-small);
  color: var(--color-text-dark);
  display: flex;
  gap: var(--gap-medium);
}
.breadcrumb svg {
  width: 1rem;
  stroke: var(--color-text-dark);
}
.breadcrumb span:last-of-type {
  color: var(--color-primary-400);
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--gap-content);
}
.menu__link {
  color: var(--color-primary-400);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: 600;
}
.menu__link:hover {
  color: var(--color-accent-400);
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}

.menu-responsive {
  border-radius: var(--border-radius);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--color-gray);
  padding: 1.5rem;
  position: fixed;
  z-index: 999;
  top: 1rem;
  right: 1rem;
  display: none;
}
.menu-responsive--open {
  display: block;
}
.menu-responsive__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.menu-responsive__link {
  color: var(--color-text-dark);
  text-decoration: none;
  font-weight: 600;
}
.menu-responsive__close {
  background: none;
  border: 0;
  position: absolute;
  top: var(--gap-content);
  right: var(--gap-content);
  cursor: pointer;
}
.menu-responsive__close svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
}
.menu-responsive__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-responsive label {
  color: var(--color-text-dark);
}
.menu-responsive select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: var(--color-primary-400);
  font-size: var(--font-size-1);
  font-weight: 600;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 2.5rem;
}
.menu-responsive .theme {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.menu-responsive .theme__icon {
  pointer-events: none;
  position: absolute;
  display: flex;
  left: 0.5rem;
}
.menu-responsive .theme__icon svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
}
.menu-responsive .theme__select-icon {
  pointer-events: none;
  position: absolute;
  display: flex;
  right: 0.5rem;
}
.menu-responsive .theme__select-icon svg {
  fill: var(--color-text-dark);
  width: 1rem;
}

.menu-sidebar {
  margin-bottom: var(--gap-content);
}
.menu-sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}
.menu-sidebar__link {
  display: flex;
  gap: var(--gap-large);
  font-size: var(--font-size-small);
  text-decoration: none;
  color: var(--color-text-dark);
}
.menu-sidebar__item {
  line-height: 1.5;
}
.menu-sidebar__item:nth-of-type(2):hover .menu-sidebar__icon {
  background-color: darkseagreen;
}
.menu-sidebar__item:nth-of-type(3):hover .menu-sidebar__icon {
  background-color: darksalmon;
}
.menu-sidebar__item:nth-of-type(4):hover .menu-sidebar__icon {
  background-color: darkcyan;
}
.menu-sidebar__item:nth-of-type(5):hover .menu-sidebar__icon {
  background-color: plum;
}
.menu-sidebar__item:nth-of-type(6):hover .menu-sidebar__icon {
  background-color: darkorange;
}
.menu-sidebar__item:nth-of-type(7):hover .menu-sidebar__icon {
  background-color: crimson;
}
.menu-sidebar__item:hover .menu-sidebar__link {
  color: var(--color-text-dark-500);
}
.menu-sidebar__item:hover .menu-sidebar__icon {
  background-color: var(--color-accent-400);
}
.menu-sidebar__item:hover .menu-sidebar__icon svg {
  stroke: var(--color-primary-400);
}
.menu-sidebar__item--current a {
  color: var(--color-accent-400);
}
.menu-sidebar__item--current .menu-sidebar__icon {
  background: var(--color-accent-400);
}
.menu-sidebar__item--current .menu-sidebar__icon svg {
  stroke: var(--color-primary-400);
}
.menu-sidebar__icon {
  width: 1.5rem;
  height: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.menu-sidebar__icon svg {
  width: 1rem;
}

.chapter {
  margin-bottom: var(--gap-content);
}
.chapter__title {
  color: var(--color-primary-400);
  font-size: var(--font-size-small);
  font-weight: 600;
  margin: 0 0 1rem;
}
.chapter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.chapter__item {
  line-height: 1.5;
  margin-bottom: var(--gap-small);
}
.chapter__item--current a {
  color: var(--color-accent-400);
  font-weight: 600;
  border-color: var(--color-accent-400);
}
.chapter__link {
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  margin-left: -1px;
  text-decoration: none;
  color: var(--color-text-dark);
  font-size: var(--font-size-small);
  border-left: 1px solid transparent;
}
.chapter__link:hover {
  border-color: var(--color-text-dark);
  color: var(--color-text-dark-500);
}

.site-sidebar {
  width: 19rem;
  padding: 0 32px;
  position: fixed;
  inset: 60px auto 0 0;
  overflow-y: auto;
  display: grid;
  background-color: var(--color-secondary-400);
}
@media screen and (max-width: 1024px) {
  .site-sidebar {
    --font-size-small: 1rem;
    top: 0;
    padding-top: var(--gap-content);
    background-color: var(--color-secondary-500);
    display: none;
  }
}
.site-sidebar--open {
  display: block;
  z-index: 999;
}
.site-sidebar--open::after {
  --color-opacity: 0.7;
  --color-secondary-400: rgba(15 23 42/var(--color-opacity, 1));
  background-color: var(--color-secondary-400);
  backdrop-filter: blur(5px);
  content: "";
  position: fixed;
  inset: 0 0 0 19rem;
  z-index: -1;
}
.site-sidebar__close {
  background: none;
  border: 0;
  position: absolute;
  top: var(--gap-content);
  right: var(--gap-content);
  cursor: pointer;
}
.site-sidebar__close svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
}

.search {
  position: sticky;
  top: 0;
}
.search::after {
  content: "";
  height: var(--gap-content);
  width: 100%;
  display: block;
  background: linear-gradient(180deg, var(--color-secondary-400) 0%, rgba(0, 0, 0, 0) 100%);
}
.search__container {
  padding-top: var(--section-gap-inner);
  background-color: var(--color-secondary-400);
}
.search__button {
  padding: 0.5rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-text-dark);
  font-family: var(--font-sans);
  font-size: var(--font-size-small);
  cursor: pointer;
}
.search__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.search__button svg {
  width: 1.25rem;
  stroke: var(--color-text-dark);
  margin-right: 0.5rem;
}
.search__button span {
  white-space: nowrap;
}
.search__button span:last-of-type {
  margin-left: auto;
  font-size: 0.75rem;
}
@media screen and (max-width: 1024px) {
  .search {
    display: none;
  }
}

.site-content {
  display: grid;
  padding-left: 19rem;
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .site-content {
    padding-left: 0;
    margin: 120px auto 0;
    max-width: 48rem;
  }
}

.main-content {
  padding: var(--section-gap-inner) 32px;
}
@media screen and (max-width: 1024px) {
  .main-content {
    padding: var(--section-gap-inner) 24px;
  }
}

.site-footer {
  margin: 0 32px;
  padding: var(--section-gap-inner) 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-text-dark-300);
  display: flex;
  gap: var(--gap-large);
  flex-wrap: wrap;
}
.site-footer a {
  color: var(--color-text-dark-300);
  text-decoration: none;
}
.site-footer a:hover {
  color: var(--color-text-dark);
}
.site-footer__trademark {
  padding-left: var(--gap-large);
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}
.site-footer__edit {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .site-footer {
    flex-direction: column;
  }
  .site-footer__trademark {
    border: 0;
    padding: 0;
    margin-bottom: var(--gap-large);
  }
  .site-footer__edit {
    margin-left: 0;
  }
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  color: var(--color-primary-400);
}
.page p {
  color: var(--color-text-dark);
}
.page__header {
  margin-bottom: var(--gap-content);
}
.page__anchor {
  color: var(--color-accent-400);
}
.page__title {
  margin: 0.5em 0;
  font-size: var(--font-size-5);
}
.page__ingress {
  font-size: var(--font-size-2);
}

/*# sourceMappingURL=style.css.map */
